.birthdays-list {
  &__message {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: rgb(150, 105, 255);
  }
  &__month {
    font-weight: bold;
    color: red;
    padding: 10px;
  }
  &__item {
    padding: 10px;
    &__info {
      font-weight: bold;
    }
  }
}
