.employees-page {
  display: flex;
  height: 100vh;

  &__list {
    border-right: 1px solid black;
    overflow-y: scroll;
    flex-grow: 1;
    &__title {
      padding: 30px 20px;
      font-size: 23px;
      font-weight: bold;
    }
  }
  &__birthday {
    overflow-y: scroll;
    flex-grow: 1;

    &__title {
      padding: 30px 20px;
      font-size: 23px;
      font-weight: bold;
      border-bottom: 1px solid black;
    }
  }
}
